.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.modal-content {
  width: 420px;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  animation: pop 0.2s ease;
}


.modal-content h3 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  color: #333;
}


.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
}

.modal-content input:focus,
.modal-content select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74,144,226,0.2);
}


.modal-content input:disabled {
  background: #f2f2f2;
  color: #666;
  cursor: not-allowed;
}


.modal-content button {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 8px;
}


.modal-content button[type="submit"] {
  width: 100%;
  background: #4a90e2;
  color: white;
}

.modal-content button[type="submit"]:hover {
  background: #357bd8;
}

/* SECONDARY */
.modal-content button[type="button"] {
  width: 100%;
  background: #e0e0e0;
  color: #333;
}

.modal-content button[type="button"]:hover {
  background: #cfcfcf;
}


@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}